@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: theme('colors.accent.500');
  color: theme('colors.light.900');
}

::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: theme('colors.light.700');
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.accent.900');
}


@layer utilities {
  .stripes-to-r {
    background: repeating-linear-gradient(
      -45deg,
      theme('colors.light.900'),
      theme('colors.light.900') 5px,
      theme('colors.dark.100') 5px,
      theme('colors.dark.100') 10px
    )
  }

  .image-clip-path {
    clip-path: circle(100.0% at 50% 100%);
  }
}